body {
    background-color: seashell;
    margin: 0px;
    /* display: flex; */

}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.calculator {
    background-color: black;
    color: white;
    width: 300px;
    border: 8px rgb(151, 151, 151) solid;
    border-radius: 5px;
    padding: 10px;
}

.display {
    background-color: grey;
    height: 70px;
    border: 2px silver solid;
    border-radius: 5px;
    padding: 10px 10px;
}

.clear-divide-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin: 10px 0px 0px 0px;
}

.clear, .delete {
    text-align: center;
    font-size: 24px;
    border: 1px silver solid;
    border-radius: 5px;
    padding: 10px 15px;
}

.clear {
    background-color: palevioletred;
}

.delete {
    background-color: lightblue;
}

.row {
    display: flex;
}

button.key, .equalSign {
    /* width: 50px;
    height: 40px;
    font-size: 30px;
    border: 2px silver solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: rgb(129, 129, 129); */

    font-size: 30px;
    margin: 5px;
    flex: 1 0 0; /*flex-grow: 1, and the flex basis is zero, which means that all the keys will have the same width in the end */
    padding: 10px 2px;
    background-color: white;
    color: black;
    border: 2px rgb(139, 139, 139) solid;
    border-radius: 5px;
}

button.key:hover, .equalSign:hover {
    /* width: 50px;
    height: 40px;
    font-size: 30px;
    border: 2px silver solid;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: rgb(66, 66, 66); */

    font-size: 30px;
    margin: 5px;
    flex: 1 0 0; /*flex-grow: 1, and the flex basis is zero, which means that all the keys will have the same width in the end */
    padding: 10px 2px;
    background-color: rgb(211, 211, 211);
    color: black;
    border: 2px rgb(139, 139, 139) solid;
    border-radius: 5px;
}


.digits-section {
    font-size: 35px;
}

.result-section {
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
}


.note {
    font-size: 20px;
}

.note {
    padding-left: 20px;
}

